[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
social-auth-app-django = "*"

[requires]
python_version = "3.7"
